div#winners , div#consolation { 
    margin-right:auto; 
    margin-left:auto; 
}

#navmenu {
    padding: 0;
    margin: 0;
}

#navmenu ul {
    margin: 0.6em 0em 0em 0em;
    padding-left: 0.25em;
    list-style-type: none; 
    list-style-image: none; 
}

#navmenu {
    margin-top: -0.6em;
}

#navmenu li {
    display: inline-block;
    margin: 0.6em 0em 0.6em 0em;
}

#navmenu ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color: #EEEEEE;
    border-radius: .60em;
    padding: .4em;
}

#navmenu ul li a:hover {
    color: white;
    background-color: red; 
    border-radius: .60em;
    padding: .4em;
}


h3, h2 {
    margin-left: 0.3em;
}

#upload {
    margin-left: 0.3em;
}

body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: #EEE; 
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
}

#header h1 {
    margin: 0;
    padding-left: 0.5em;
}

table.game-table {
    border-collapse:separate;
    border-spacing: 0;
    margin-top: -1em;
    vertical-align: text-middle;
    text-align: center;
    margin-bottom: 0.5em;
}

table.game-table td {
    background-color:#ffffff;
}

table.game-table td.victor {
 background: #FF9;   
}

table#next-up td, table#completed td {
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    -moz-box-shadow: 0px 5px 5px #888888;
    -webkit-appearance: none;
    -webkit-box-shadow: 0px 5px 5px #888888;
    box-shadow: 0px 5px 5px #888888;
}

table#next-up td:first-child, table#completed td:first-child {
    border-left: 2px solid gray;
}

table#next-up tr:nth-child(2) td, table#completed tr:nth-child(2) td {
    border-top: 2px solid gray;
}

table#next-up tr:nth-child(2) td:last-child, table#completed tr:nth-child(2) td:last-child {
    border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
}

table#next-up tr:nth-child(2) td:first-child, table#completed tr:nth-child(2) td:first-child {
    border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
}

table#next-up tr:last-child td:first-child, table#completed tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
}

table#next-up tr:last-child td:last-child, table#completed tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
}

#next-div {
    float: left;
    clear: left;
    margin: 0em 0em 0em 0.5em;
    padding: 0em;
}

#next-div h2, #completed-div h2 {
    margin: 0.2em 0em 0.6em 0em;
}

#next-div p, #completed-div p {
    margin: 0.3em 0em 0em 0em;
}

#completed-div {
    float:left; 
    margin-left:1em;
}

table.results {
    border-spacing:.5em .5em;
}

table.results th { 
    padding: 0.2em;
    border-radius: .4em;
}

table.results tr {
    border: 1px solid black;
}

table.results td { 
    text-align: center;
}

table.awards {
  border-collapse: collapse;
}

table.awards td {
  border: 0;
  margin: .25em;
  padding: .25em;;
  vertical-align: text-top;
  text-align: left;

}

table.awards th {
    text-align: right;
    vertical-align: text-top;
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    margin: .25em;
    padding: .25em;;
}

table.long-awards th {
    text-align: left;
    vertical-align: text-top;
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    margin: .25em;
    padding: .25em;;
}



table.scores { border-spacing:1em .5em;}
table.scores td {   text-align: center; }



tr.cgame td {background-color:red;}

tr.cgame td td {color:white;}



dt { float: left; clear: left; width: 200px; text-align: right; font-weight: bold; color: green; padding-right:.5em; } 
dt:after { content: ":"; }
dd { margin: 0 0 0 110px; padding: 0 0 0.5em 0; }

fieldset#fieldset-tournament {border:0;}
